# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
Build/
build/
ReleaseWin64static/
ReleaseWin32static/
DebugWin64static/
DebugWin32static/
ReleaseWin64dynamic/
ReleaseWin32dynamic/
DebugWin64dynamic/
DebugWin32dynamic/
msys2build32/
msys2build64/
wxWidgets-3.1.2/
Get-ExecutableType.ps1
wxWidgets-3.1.2.7z
build_Release_Win32_static_wxhello/
build_Release_Win32_dynamic_wxhello/
build_Debug_Win32_static_wxhello/
build_Debug_Win32_dynamic_wxhello/
build_Release_Win64_static_wxhello/
build_Release_Win64_dynamic_wxhello/
build_Debug_Win64_static_wxhello/
build_Debug_Win64_dynamic_wxhello/
